<!--[arealoading]-->
<div class="mt-arealoading-mask"></div>
<div class="mt-arealoading-con">
    <div class="mt-arealoading-icon">
        <svg class="t-icon<%=(' '+data.state);%>"><use xlink:href="#<%=data.icon;%>"></use></svg>
    </div>
    <div class="mt-arealoading-desc"><%=data.desc;%></div>
</div>
<!--[msgbox]-->
<div class="mask">
    <div class="box" style="width:{{data.width}}">
        <div class="header">
            <div class="header-back" data-bind="click:back">
                <svg class=":t-icon"><use xlink:href="#t-icon-arrow_back"></use></svg>
            </div>
            <div class="header-desc">{{data.title}}</div>
        </div>
        <div class="body" data-find="body">
            {{list data.content as item index}}
            <@module type="{{item.type}}" id="{{index}}"/>
            {{/list}}
        </div>
        <div class="footer">
            {{list data.btns as item}}
            <div class="btn{{item.type==='close'?' closebtn':''}}" data-bind="click:btn" @cache(item)>
                <div class="btnicon">
                    {{if item.icon}}
                    {{if item.type==='close'}}
                    <svg class=":t-icon"><use xlink:href="#t-icon-cancel"></use></svg>
                    {{else}}
                    <svg class=":t-icon"><use xlink:href="#t-icon-{{item.icon}}"></use></svg>
                    {{/if}}
                    {{else}}
                    {{if item.type==='close'}}
                    <svg class=":t-icon"><use xlink:href="#t-icon-cancel"></use></svg>
                    {{else}}
                    <svg class=":t-icon"><use xlink:href="#t-icon-check_circle"></use></svg>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="btndec">{{item.name}}</div>
            </div>
            {{/list}}
        </div>
    </div>
</div>
<!--[alert]-->
<div class="mask">
    <div class="box" style="width:{{data.width}}">
        <div class="header">{{data.title}}</div>
        <div class="body" data-find="body">{{data.content}}</div>
        <div class="footer">
            {{list data.btns as item}}
            <div class="btn" data-bind="click:btn" @cache(item)>{{item.name}}</div>
            {{/list}}
        </div>
    </div>
</div>