<!--[arealoading]-->
<div class="mt-arealoading-mask"></div>
<div class="mt-arealoading-con">
    <div class="mt-arealoading-icon">
        <svg class="t-icon<%=(' '+data.state);%>"><use xlink:href="#<%=data.icon;%>"></use></svg>
    </div>
    <div class="mt-arealoading-desc"><%=data.desc;%></div>
</div>
<!--[msgbox]-->
<div class="mask">
    <div class="box" style="width:{{data.width}}">
        <div class="header">{{data.title}}</div>
        <div class="body" data-find="body">
            {{list data.content as item index}}
            <@module type="{{item.type}}" id="{{index}}"/>
            {{/list}}
        </div>
        <div class="footer">
            {{list data.btns as item}}
            <div class="btn" data-bind="click:btn" @cache(item)>{{item.name}}</div>
            {{/list}}
        </div>
    </div>
</div>