.messagebox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:99999;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    background:rgba(0,0,0,.3);
    .box {
        color: rgba(0, 0, 0, 0.87);
        background-color: rgb(255, 255, 255);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
        border-radius: 2px;
        max-height: -webkit-calc(100% - 40px);
        max-width: -webkit-calc(100% - 40px);
        display: flex;
        flex-flow: column;
        .header {
            font-size: 17px;
            line-height: 45px;
            font-weight: 400;
            border-bottom: 1px solid #D7D7D7;
            .header-back{
                display: inline-block;
                vertical-align: top;
                width:45px;
                text-align: center;
                display: none;
            }
            .header-desc{
                display: inline-block;
                vertical-align: top;
                padding:0 20px 0 20px;
            }
        }
        .body {
            padding: 10px 20px 10px 20px;
            box-sizing: border-box;
            overflow: auto;
            flex-grow: 1;
            position: relative;
        }
        .footer {
            box-sizing: border-box;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            padding: 8px;
            width: 100%;
            text-align: right;
            margin-top: 0px;
            .btn {
                border: 10px;
                box-sizing: border-box;
                display: inline-block;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                cursor: default;
                text-decoration: none;
                margin: 0px;
                padding: 0px;
                outline: none;
                position: relative;
                z-index: 1;
                height: 36px;
                line-height: 36px;
                min-width: 88px;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                border-radius: 2px;
                user-select: none;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0);
                text-align: center;
                white-space: nowrap;
                .btnicon{
                    display: inline-block;
                    vertical-align: top;
                    font-size:20px;
                    display: none;
                }
                .btndec{
                    display: inline-block;
                    vertical-align: top;
                }
                &:hover {
                    background: #EBEBEB;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .mask {
        .box {
            max-height: -webkit-calc(100%);
            max-width: -webkit-calc(100%);
            width:100%;
            height:100%;
            .header {
                .header-back{
                    display: inline-block;
                    font-size:20px;
                }
                .header-desc{
                    padding:0;
                }
            }
            .footer{
                position:absolute;
                top:0;
                right:0;
                padding:0;
                width:auto;
                color:#136375;
                .btn{
                    line-height:46px;
                    height:auto;
                    min-width:auto;
                    padding:0 10px 0 10px;
                    .btnicon{
                        display: inline-block;
                        vertical-align: top;
                        display: inline-block;
                    }
                    .btndec{
                        display:none;
                    }
                }
            }
        }
    }
}