.arealoading{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:999;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    .arealoading-mask{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,.1);
    }
    .arealoading-con{
        line-height:40px;
        background:white;
        border-radius: 2px;
        box-shadow: 1px 2px 10px #B2B2B2;
        font-size:15px;
        line-height:40px;
        display:flex;
        position:relative;
        .arealoading-icon{
            width:40px;
            text-align: center;
        }
        .arealoading-desc{
            padding:0 20px 0 0;
            flex:1;
        }
    }
    .icon-state-error{
        color:indianred;
    }
    .icon-state-success{
        color:limegreen;
    }
}